/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}  
  
  /* 
  ====== 
  Global Styles 
  ======
  */

  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--mainBlack);
    background: var(--mainBackground);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--slantedFont);
    margin-bottom: 1.25rem;
    letter-spacing: var(--mainSpacing);
  }
  p {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: var(--mainBlack);
  }
  img {
    width: 100%;
    display: block;
  }

.global-app{

  /* 
  ====== 
  Buttons 
  ======
  */

   .global-btn,
   .global-btn-primary {
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 0.45rem 0.8rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    border-radius: var(--mainBorderRadius);
    display: inline-block;
  }
   .global-btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }

   .global-btn-primary {
    background: var(--primaryColor);
    color: var(--mainWhite);
    border-color: transparent;
  }
   .global-btn-primary:hover {
    background: var(--primaryLightColor);
    color: var(--primaryColor);
  }

  
  .global-section {
    padding: 5rem 0;
  }
   .global-section-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
   .global-projects-center {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    /* align-items: start; */
  }
  @media screen and (max-width: 576px) {
     .global-projects-center {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media screen and (min-width: 768px) {
    .global-projects-center {
     grid-template-columns: repeat(2, 1fr);
   }
 }

  @media screen and (min-width: 959px) {
    .global-projects-center {
     grid-template-columns: repeat(3, 1fr);
   }
 }

  .global-project {
    background: var(--mainWhite);
    margin-bottom: 2rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--mainBorderRadius);
  }
   .global-project:hover {
    box-shadow: var(--darkShadow);
  }
   .global-project img {
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: var(--mainBorderRadius);
    border-top-right-radius: var(--mainBorderRadius);
  }
   .global-project-footer {
    text-align: center;
    padding: 1rem;
  }
  .global-project-footer h4{
    font-size: .9rem;
    padding: 0;
    margin: 0;
  }
}